<!doctype html>
<html>
<head>
  <title>California Trail Finder</title>
  <link rel='stylesheet' type='text/css' href='{{url_for('static', filename='style.css')}}'>

  <!-- https://datatables.net/manual/installation -->
  <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css'>
  <script type='text/javascript' charset='utf8' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js'></script>
  <script type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js'></script>
  <script language='javascript' type='text/javascript'> 
    $(document).ready(function () {
      $('#table_id').DataTable();
    }); 
  </script> 

</head>

<body>

<div class=page>
  <h1>&nbsp;California Trail Finder</h1>
  <div class=metanav>
    <br>
    <h2 style='color:mediumblue; font-size:200%;'>&nbsp;Based on your personal preference, we will recommend a ranked list of similiar California trails!</h2>
    <br>

    <form id='index_form' method='GET' action='/'>
      <p>
        <!-- Select Trail Suitability: -->
        <h2>&nbsp;We recommend trails that are best for kids, dogs, stroller or wheelchair, please select your preference:</h2>
        <br>&nbsp;&nbsp;
        <select onchange='document.forms[0].submit()' name='category'>
          <!-- <option value='0'>-</option> -->
          <option value='' selected='selected'>-Category-</option>
          {% for row in categories %}
          <option value='{{ row[0] }}' {% if row[0] == request.args['category'] %} selected {% endif %}>{{ row[0] }}</option>
          {% endfor %}
        </select>
      </p>
     <br>

      <p>
        <!-- Select Region (County) to Find Trails: -->
        <!-- Select trail that you have liked/enjoyed before: -->
        <h2>&nbsp;Tell us about a trail that you have enjoyed in the past:</h2>
        <br>&nbsp;&nbsp;
        In
        <select onchange='document.forms[0].submit()' name='county'>
          <!-- <option value='0'>-</option> -->
          <option value='' selected='selected'>-County-</option>
          {% for row in counties %}
          <option value='{{ row[0] }}' {% if row[0] == request.args['county'] %} selected {% endif %}>{{ row[0] }}</option>
          {% endfor %}
        </select>
        county, a trail with a name of
        <select onchange='document.forms[0].submit()' name='trail_name'>
          <!-- <option value='0'>-</option> -->
          <option value='' selected='selected'>-Trail Name-</option>
          {% for row in trails %}
          <option value='{{ row[0].replace('\u2028', '') }}' {% if row[0] == request.args['trail_name'] %} selected {% endif %}>{{ row[0].replace('\u2028', '') }}</option>
          {% endfor %}
        </select>
      </p>
     <br>

     <h2>&nbsp;Selected Trail Details</h2>
     <!-- <h2>{{request.args['category']}} Selected Trail Details</h2> -->
     <br>
     <table class='display' style='width:100%'>
       <thead>
       <tr>
           <!-- <th>Trail ID</th> -->
           <th>Trail Name</th>
           <th>City</th>
           <th>County</th>
           <th>Difficulty</th>
           <th>Distance (miles)</th>
           <th>Elevation Gain (feet)</th>
           <th>Route Type</th>
           <th>Duration (minutes)</th>
         </tr>
       </thead>
       <tbody>
         {% for row in selected_trail %}
         <tr>
           <!-- <td>{{row[0]}}</td> -->
           <td width='350'><a href="{{row[9]}}">{{row[1]}}</a></td>
           <td width='150'>{{row[2]}}</td>
           <td width='100'>{{row[3]}}</td>
           <td width='80'>{{row[4]}}</td>
           <td width='100'>{{row[5]}}</td>
           <td width='125'>{{row[6]}}</td>
           <td width='80'>{{row[7]}}</td>
           <td width='110'>{{row[8]}}</td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
     <br>

      <p>
        <!-- Select Region (County) to Find Similar Trails: -->
        <h2>&nbsp;Tell us which California county you would like to find a trail for hiking:</h2>
        <br>&nbsp;&nbsp;
        <select onchange='document.forms[0].submit()' name='county_similar_trails'>
          <!-- <option value='0'>-</option> -->
          <option value='' selected='selected'>-County-</option>
          {% for row in counties %}
          <option value='{{ row[0] }}' {% if row[0] == request.args['county_similar_trails'] %} selected {% endif %}>{{ row[0] }}</option>
          {% endfor %}
        </select>
      </p>
    </form>

    <br>
    <h2>&nbsp;Similar Trail Details</h2>
    <table id='table_id' class='display' style='width:100%'>
      <caption style='padding: 5px;'>&ensp;<strong>Note:</strong>The <strong>Rank</strong> column represents ordered similarity rank between the Selected Trail and Similar Trails within the selected county based on a calculated similarity score.</caption>
      <br>
      <thead>
        <tr>
          <!-- <th>Trail ID</th>
          <th>Similarity Score</th>
          <th>Similarity Rank</th> -->
          <th>Rank</th>
          <th>Trail Name</th>
          <th>City</th>
          <th>County</th>
          <th>Difficulty</th>
          <th>Distance (miles)</th>
          <th>Elevation Gain (feet)</th>
          <th>Route Type</th>
          <th>Duration (minutes)</th>
          <!-- <th>{{request.args['category']}} Trail</th> -->
          <!-- <th>Newly Tagged Trail</th> -->
        </tr>
      </thead>
      <tbody>
        {% for row in similar_trails %}
        <tr>
          <!-- <td>{{row['trail_id']}}</td>
          <td>{{'%0.3f' | format(row['score'] | float)}}</td>
          <td>{{row['rank']}}</td> -->
          <td width='25' style='text-align:center'>{{loop.index}}</td>
          <td width='350'><a href='{{row['url']}}'>{{row['trail_name']}}</a></td>
          <td width='150'>{{row['city']}}</td>
          <td width='100'>{{row['county']}}</td>
          <td width='80'>{{row['trail_difficulty']}}</td>
          <td width='100'>{{row['distance_miles']}}</td>
          <td width='125'>{{row['elevation_gain_ft']}}</td>
          <td width='80'>{{row['route_type']}}</td>
          <td width='110'>{{row['duration_mins']}}</td>
          <!-- <td>{{row['category_selected']}}</td> -->
          <!-- {% if row['category_selected'] == 0 %}
          <td width='115'>Yes</td>
          {% else %}
          <td width='115'>No</td>
          {% endif %} -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
